body {
 background-image: url("images/background0.jpg");
}
.container {
	border: 10px solid black;
	background-color: lightblue;
	border-radius: 40px;
	height: 2436px;
	width: 1125px;
	margin: 0 auto;
}

#level {
	background-color: yellow;
	border: 5px solid green;
	height: 100px;
	width: 370px;
	margin-top: 50px;
	margin-left: 50px;
	display: inline-block;
	border-radius: 50px;
	font-size: 80px;
	text-align: center;
}
#account {
	background-color: yellow;
	border: 5px solid green;
	height: 100px;
	width: 510px;
	margin-top: 50px;
	margin-left: 120px;
	display: inline-block;
	border-radius: 50px;
	font-size: 80px;
	text-align: center;
}

/*--------------page 0-----------*/

#title {
	background-color: yellow;
	border: 5px solid blue;
	height: 200px;
	width: 1020px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 50px;
	font-size: 80px;
	text-align: center;
}



#page0 {
	width: 1020px;
	display: none;
	margin: 0 auto;
	margin-top: 50px;
}
img{
	width: 100%;
	height: 100%;
	border-radius: 50px;
}

/*--------------page 1--------------*/

#page1 {
	width: 1020px;
	display: block;
	/*background-color: yellow;*/
	background-image: url("images/fruit0.png");
	margin: 0 auto;
	margin-top: 50px;
}
#imgDiv {
	width: 1020px;
	height: 720px;
	border-radius: 50px;
}
#shopImg {
	width: 100%;
	height: 100%;
	border-radius: 50px;
	position: relative;
	/*top: 0px;
	left: 0px;*/
}
#itemImg {
	width: 20%;
	height: 20%;
	border-radius: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 50px;
	font-size: 80px;
	text-align: center;
}

#itemName {
	background-color: yellow;
	border: 5px solid red;
	height: 200px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 50px;
	font-size: 80px;
	text-align: center;
}

#itemPrice {
	background-color: yellow;
	border: 5px solid red;
	height: 200px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 50px;
	font-size: 80px;
	text-align: center;
}

/*#page2 {
	display: none;
	background-color: yellow;
	background-image: url("");
	margin: 0 auto;
	margin-top: 50px;*/

.page {
	height: 1240px;
	width: 1020px;
	border: 5px solid black;
	border-radius: 50px;
}



#row3 {
	background-color: yellow;
	border: 5px solid green;
	height: 200px;
	width: 1020px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 50px;
	font-size: 80px;
	text-align: center;

}

#row4 {
	background-color: yellow;
	border: 5px solid blue;
	height: 200px;
	width: 1020px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 50px;
	font-size: 80px;
	text-align: center;
}

#button {
	width: 200px;
	height: 50px;
}



/*--------------page 2--------------*/


.row {
	width: 1020px;
	border-radius: 50px;
	font-size: 80px;
	text-align: center;

}